@using JinjiProject.Dtos.Products

@{
    ViewData["Title"] = "Index";
}
@model List<ListProductDto>
<style>
    .filtre-menu {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .filtre-item {
        margin-bottom: 20px;
    }

        .filtre-item h3 {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold; /* Başlıkları kalın yap */
            font-family: 'Arial Black', sans-serif; /* Başlık fontunu değiştir */
        }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        font-family: Arial, sans-serif; /* İçerik fontunu değiştir */
    }

    .btn:hover {
        background-color: red;
        
    }

    #clear-price-filter,
    #clear-color-filter,
    #clear-size-filter {
        margin-top: -35px;
        margin-right: 0; 
        display: inline-block;
        font-size: 12px;
        float: right;
        color: red;
        font-family: Arial, sans-serif; 
    }

        #clear-price-filter:hover,
        #clear-color-filter:hover,
        #clear-size-filter:hover {
            color: white; /* Hover durumunda yazı rengi beyaz olacak */
        }

 

    input[type="radio"] {
        margin-right: 5px;
        cursor: pointer;
    }

    label {
        cursor: pointer;
        font-size: 14px;
        margin-right: 10px;
        font-family: Arial, sans-serif; /* Font family eklendi */
    }

        label:hover {
            text-decoration: underline;
        }

    #search-box {
        position: relative;
        padding-right: 30px; /* Temizle butonunun genişliği için ayarlayın */
        font-family: Arial, sans-serif; /* Font family eklendi */
    }

    #clear-search {
        position: absolute;
        top: 50%;
        right: 5px; /* İstenilen sağlık için ayarlayın */
        transform: translateY(-50%);
        display: none;
        cursor: pointer;
    }

    #search-box:focus + #clear-search {
        display: inline-block;
    }


</style>
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>@ViewBag.CategoryName Ürünleri</h2>
                    <span>Sizler için en iyisi</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>@ViewBag.Genre</h2>
                    <span>Tüm ürünlerimizi inceleyin.</span>
                </div>
            </div>

        </div>
    </div>

    <div class="">
        <div class="row">
            <div class="col-lg-2">


                <aside class="filtre-menu">
                    <div class="ml-2">
                        <div class="filtre-item">
                            <div style="position: relative;">
                                <input type="text" id="search-box" class="form-control" placeholder="Aranacak Kelime">
                                <div id="clear-search">&#10006;</div>
                            </div>
                        </div>

                        <div class="filtre-item">
                            <h3>Fiyat Aralığı</h3>
                            <input type="number" placeholder="En az" style="width:90px;" id="min-price" name="min-price">
                            <span>₺</span>
                            <input type="number" placeholder="En çok" style="width:90px;" id="max-price" name="max-price">
                            <span>₺</span>
                            <button class="btn" id="search-price">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button>
                            <br />
                            <input type="radio" id="range-1" name="price-range" value="20-200">
                            <label for="range-1">20₺-200₺</label>
                            <br />
                            <input type="radio" id="range-2" name="price-range" value="200-500">
                            <label for="range-2">200₺-500₺</label>
                            <br />
                            <input type="radio" id="range-3" name="price-range" value="500-1000">
                            <label for="range-3">500₺-1000₺</label>
                            <br />
                            <input type="radio" id="range-4" name="price-range" value="1000-2000">
                            <label for="range-4">1000₺-2000₺</label>
                        </div>
                            <a class=" btn btn-outline-danger" id="clear-price-filter" style="display: none;">Temizle</a>
                        <div class="filtre-item" id="filter-color">
                            <h3>Renk</h3>
                            <a class="btn btn-outline-danger" id="clear-color-filter" style="display: none;">Temizle</a>
                        </div>
                        <div class="filtre-item" id="filter-size">
                            <h3>Boyut</h3>
                            <a class="btn btn-outline-danger" id="clear-size-filter" style="display: none;">Temizle</a>
                        </div>
                    </div>
                </aside>
            </div>
            @*9 tane ürün alıyor sayfa*@


            <div class="col-lg-10">
                <div class="m-2">
                    <div class="row" id="product-list">

                       
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="pagination">
                    <ul id="pagination-list">
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->

<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var productList = [];
    productList = @Html.Raw(Json.Serialize(Model));
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        runOwlCarousel();
    });
</script>
<script src="~/template/assets/js/jquery-2.1.0.min.js"></script>
<script src="~/js/product-list-bycategoryname.js"></script>