@using JinjiProject.Dtos.Products

@{
    ViewData["Title"] = "Index";
}
@model List<ListProductDto>
<style>
    .filtre-menu {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .filtre-item {
        margin-bottom: 20px;
    }

        .filtre-item h3 {
            font-size: 16px;
            margin-bottom: 10px;
        }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    }


        .btn:hover {
            background-color: #0056b3;
        }

    #clear-price-filter,
    #clear-color-filter,
    #clear-size-filter {
        margin-top:-35px ; /* Ayarlayabilirsiniz */
        margin-right: 0; /* Ayarlayabilirsiniz */
        display: inline-block;
        font-size: 12px;
        float: right;
        color:red;
    }


    input[type="radio"] {
        margin-right: 5px;
        cursor: pointer;
    }

    label {
        cursor: pointer;
        font-size: 14px;
        margin-right: 10px;
    }

        label:hover {
            text-decoration: underline;
        }

    #search-box {
        position: relative;
        padding-right: 30px; /* Temizle butonunun genişliği için ayarlayın */
    }

    #clear-search {
        position: absolute;
        top: 50%;
        right: 5px; /* İstenilen sağlık için ayarlayın */
        transform: translateY(-50%);
        display: none;
        cursor: pointer;
    }

    #search-box:focus + #clear-search {
        display: inline-block;
    }

</style>
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>

        </div>
    </div>

    <div class="">
        <div class="row">
            <div class="col-lg-2">


                <aside class="filtre-menu">
                    <div class="ml-2">
                        <div class="filtre-item">
                            <div style="position: relative;">
                                <input type="text" id="search-box" class="form-control" placeholder="Aranacak Kelime">
                                <div id="clear-search">&#10006;</div>
                            </div>
                        </div>

                        <div class="filtre-item">
                            <h3>Fiyat Aralığı</h3>
                            <a class="btn" id="clear-price-filter" style="display: none;">Temizle</a>
                            <input type="number" placeholder="En az" style="width:90px;" id="min-price" name="min-price">
                            <input type="number" placeholder="En çok" style="width:90px;" id="max-price" name="max-price">
                            <button class="btn" id="search-price">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button>
                            <br />
                            <input type="radio" id="range-1" name="price-range" value="20-200">
                            <label for="range-1">20-200</label>
                            <br />
                            <input type="radio" id="range-2" name="price-range" value="200-500">
                            <label for="range-2">200-500</label>
                        </div>
                        <div class="filtre-item">
                            <h3>Boyut</h3>
                            <a class="btn" id="clear-size-filter" style="display: none;">Temizle</a>
                            <input type="radio" id="size-small" name="size" value="small">
                            <label for="size-small">Small</label>
                            <br />
                            <input type="radio" id="size-medium" name="size" value="medium">
                            <label for="size-medium">Medium</label>
                            <br />
                            <input type="radio" id="size-large" name="size" value="large">
                            <label for="size-large">Large</label>
                        </div>
                        <div class="filtre-item">
                            <h3>Renk</h3>
                            <a class="btn" id="clear-color-filter" style="display: none;">Temizle</a>
                            <input type="radio" id="color-red" name="color" value="kırmızı">
                            <label for="color-red">Kırmızı</label>
                            <br />
                            <input type="radio" id="color-blue" name="color" value="mavi">
                            <label for="color-blue">Mavi</label>
                            <br />
                            <input type="radio" id="color-black" name="color" value="siyah">
                            <label for="color-black">Siyah</label>
                        </div>
                       @*  <div class="filtre-item">
                            <h3>Malzeme</h3>
                            <input type="radio" id="material-1" name="material" value="material-1">
                            <label for="material-1">Malzeme 1</label>
                            <br />
                            <input type="radio" id="material-2" name="material" value="material-2">
                            <label for="material-2">Malzeme 2</label>
                        </div> *@
                    </div>
                </aside>
            </div>
            @*9 tane ürün alıyor sayfa*@


            <div class="col-lg-10">
                <div class="m-2">
                    <div class="row" id="product-list">

                       
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="pagination">
                    <ul id="pagination-list">
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->

<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var productList = [];
    productList = @Html.Raw(Json.Serialize(Model));
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        runOwlCarousel();
    });
</script>
<script src="~/js/product-list-bycategoryname.js"></script>