@using JinjiProject.Dtos.Products

@{
    ViewData["Title"] = "Index";
}
@model List<ListProductDto>
<style>
    .filtre-menu {
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .filtre-item {
        margin-bottom: 20px;
    }

        .filtre-item h3 {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold; /* Başlıkları kalın yap */
            font-family: 'Arial Black', sans-serif; /* Başlık fontunu değiştir */
        }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        font-family: Arial, sans-serif; /* İçerik fontunu değiştir */
    }

    .btn:hover {
        background-color: red;
    }

    #clear-color-filter,
    #clear-genre-filter,
    #clear-size-filter {
        margin-top: -35px;
        margin-right: 0;
        display: inline-block;
        float: right;
        color: #24201f;
        font-family: Arial, sans-serif;
    }

    #clear-price-filter {
        color: #24201f;
        margin-bottom: 6px;
        padding: 5px;
    }

        #clear-price-filter:hover {
            color: white;
        }


    #clear-color-filter:hover,
    #clear-genre-filter:hover,
    #clear-size-filter:hover {
        color: white; /* Hover durumunda yazı rengi beyaz olacak */
    }

    .btn-search {
        background-color: #24201f;
        color: #24201f;
    }

    .btn:hover svg path {
        fill: white;
    }


    input[type="radio"] {
        margin-right: 5px;
        cursor: pointer;
    }

    label {
        cursor: pointer;
        font-size: 14px;
        margin-right: 10px;
        font-family: Arial, sans-serif; /* Font family eklendi */
    }

        label:hover {
            text-decoration: underline;
        }

    #search-box {
        position: relative;
        padding-right: 30px; /* Temizle butonunun genişliği için ayarlayın */
        font-family: Arial, sans-serif; /* Font family eklendi */
    }

    #clear-search {
        position: absolute;
        top: 70%;
        right: 5px; /* İstenilen sağlık için ayarlayın */
        transform: translateY(-50%);
        display: none;
        cursor: pointer;
    }

    #search-box:focus + #clear-search {
        display: inline-block;
    }

</style>
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>@ViewBag.CategoryName Ürünleri</h2>
                    <span>Sizler için en iyisi</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>@ViewBag.Genre</h2>
                    <span>Tüm ürünlerimizi inceleyin.</span>
                </div>
            </div>

        </div>
    </div>

    <div class="">
        <div class="row">
            <div class="col-lg-2">


                <aside class="filtre-menu">
                    <div class="ml-2">
                        <div class="filtre-item">
                            <div style="position: relative;">
                                <h3 class="text-muted">Ara</h3>
                                <input type="text" id="search-box" class="form-control" placeholder="Ürün Ara">
                                <div id="clear-search">&#10006;</div>
                            </div>
                        </div>

                        <div class="filtre-item">
                            <hr />
                            <div class="d-flex flex-row  align-items-center justify-content-between">
                                <h3 class="text-muted">Fiyat Aralığı</h3>
                                <div>
                                    <a class="btn" id="clear-price-filter" style="display: none;">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <button class="btn" id="search-price" style="margin-bottom:7px;padding:5px;background-color: white; color: black;" onmouseover="this.style.backgroundColor='black'; document.querySelector('.bi-search').style.fill='white';" onmouseout="this.style.backgroundColor='white'; document.querySelector('.bi-search').style.fill='currentColor';">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                        </svg>
                                    </button>

                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="input-group" style="margin-top: 10px;">
                                    <input type="number" class="form-control" placeholder="En az" style="width: 90px;" id="min-price" name="min-price">
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="document.getElementById('min-price').focus()">₺</span>
                                    </div>
                                </div>

                                <div class="input-group" style="margin-top: 10px;">
                                    <input type="number" class="form-control" placeholder="En çok" style="width: 90px;" id="max-price" name="max-price">
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="document.getElementById('max-price').focus()">₺</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <input type="radio" id="range-1" name="price-range" value="20-200">
                            <label for="range-1">20₺-200₺</label>
                            <br />
                            <input type="radio" id="range-2" name="price-range" value="200-500">
                            <label for="range-2">200₺-500₺</label>
                            <br />
                            <input type="radio" id="range-3" name="price-range" value="500-1000">
                            <label for="range-3">500₺-1000₺</label>
                            <br />
                            <input type="radio" id="range-4" name="price-range" value="1000-2000">
                            <label for="range-4">1000₺-2000₺</label>
                        </div>
                        <div class="filtre-item" id="filter-genre">
                            <hr />
                            <h3 class="text-muted">Tür</h3>
                            <a class="btn " id="clear-genre-filter" style="display: none;">  <i class="fa fa-trash"></i></a>
                        </div>
                        <div class="filtre-item" id="filter-color">
                            <hr />
                            <h3 class="text-muted">Renk</h3>
                            <a class="btn " id="clear-color-filter" style="display: none;">  <i class="fa fa-trash"></i></a>
                        </div>
                        <div class="filtre-item" id="filter-size">
                            <hr />
                            <h3 class="text-muted">Boyut</h3>
                            <a class="btn " id="clear-size-filter" style="display: none;">  <i class="fa fa-trash"></i></a>
                        </div>
                        @if(Model != null)
                        {
                            @if (Model.Find(x => x.StrapLength != null) != null)
                            {
                                <div class="filtre-item">
                                    <hr />
                                    <div class="d-flex flex-row  align-items-center justify-content-between">
                                        <h3 class="text-muted">Askı Boyu</h3>
                                        <div>
                                            <a class="btn" id="clear-strap-length-filter" style="display: none;">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <button class="btn" id="search-strap-length" style="margin-bottom:7px;padding:5px;background-color: white; color: black;" onmouseover="this.style.backgroundColor='black'; document.querySelector('.bi-search').style.fill='white';" onmouseout="this.style.backgroundColor='white'; document.querySelector('.bi-search').style.fill='currentColor';">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                                </svg>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <div class="input-group" style="margin-top: 10px;">
                                            <input type="number" class="form-control" placeholder="En kısa" style="width: 90px;" id="min-strap-length" name="min-strap-length">
                                            <div class="input-group-append">
                                                <span class="input-group-text" onclick="document.getElementById('min-strap-length').focus()">cm</span>
                                            </div>
                                        </div>

                                        <div class="input-group" style="margin-top: 10px;">
                                            <input type="number" class="form-control" placeholder="En uzun" style="width: 90px;" id="max-strap-length" name="max-strap-length">
                                            <div class="input-group-append">
                                                <span class="input-group-text" onclick="document.getElementById('max-strap-length').focus()">cm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        
                        
                    </div>
                </aside>
            </div>
            @*9 tane ürün alıyor sayfa*@


            <div class="col-lg-10">
                <div class="m-2">
                    <div class="row" id="product-list">
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="pagination">
                    <ul id="pagination-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->

<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var categoryName = '@ViewBag.CategoryName';
    var productList = [];
    productList = @Html.Raw(Json.Serialize(Model));
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        runOwlCarousel();
    });
</script>
<script src="~/template/assets/js/jquery-2.1.0.min.js"></script>
<script src="~/js/product-list-bycategoryname.js"></script>