

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marka Detayı</h5>
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">
                    X
                </button>

            </div>
            <div class="modal-body">
                <table id="kt_modal_detail_brand_form">
                    <tbody>
                        <tr>
                            <td><strong>Marka Adı : </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Açıklama : </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Oluşturulma Tarihi : </strong></td>
                            <td></td>
                        </tr> 
                        <tr>
                            <td><strong>Güncellenme Tarihi : </strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>                
            </div>
        </div>
    </div>
</div>


<style>
    #kt_modal_detail_brand_form td {
        max-width: 350px; /* Hücrenin maksimum genişliği */
        word-wrap: break-word; /* Uzun içeriği otomatik olarak satıra sığdırır */
        padding: 5px; /* Yatay ve dikey iç boşluk */
    }
</style>