@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model CreateBrandDto

<div class="col-md-8" style="margin-top:80px">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Marka Ekleme İşlemleri</div>
        </div>
        <form method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="marka">Marka</label>
                    <input type="text" asp-for="Name" class="form-control" id="marka" placeholder="Marka Adı Giriniz...">
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="marka">Marka Açıklaması</label>
                    <input type="text" asp-for="Description" class="form-control" id="marka" placeholder="Açıklamayı Giriniz...">
                </div>
            </div>
            <div class="card-action" style="display:flex; ">
                <button type="submit" class="btn btn-success">Ekle</button>
                <a class="btn btn-danger" href="/Admin/Brand/BrandList" style="margin-left:10px">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
