@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model UpdateBrandDto

<div class="col-md-12" style="margin-top:80px; min-height: 815px;">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Marka Ekleme İşlemleri</div>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="card-body">
                <div class="form-group">
                    <label for="marka">Marka</label>
                    <input type="text" asp-for="Name" class="form-control" id="marka" placeholder="Marka Adı Giriniz...">
                    <span class="text-danger">@ViewData["NameError"]</span>
                </div>
                <div class="form-group">
                    <label for="marka">Açıklama</label>
                    <input type="text" asp-for="Description" class="form-control" id="marka" placeholder="Açıklamayı Giriniz...">
                    <span class="text-danger">@ViewData["DescriptionError"]</span>
                </div>
            </div>
            <div class="card-action" style="display:flex; ">
                <button type="submit" class="btn btn-success">Güncelle</button>
                <a class="btn btn-danger" href="/Admin/Brand/BrandList" style="margin-left:10px">Geri Dön</a>
            </div>
        </form>
    </div>
</div>