

<div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailModalLabel">Ürün Detayı</h5>
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">
                    X
                </button>
            </div>
            <div class="modal-body">
                <table id="kt_modal_detail_product_form">
                    <tbody>
                        <tr>
                            <td><strong>Ürün Fotoğrafı  </strong></td>
                            <td>
                                <div class="d-flex flex-row" style="gap: 1rem;">

                                    <div>
                                        <img id="detail-product-img" />
                                        <div>
                                            <small class="text-muted" style="font-size: smaller;">1. Fotoğraf</small>
                                        </div>
                                    </div>
                                    <div>
                                        <img id="detail-product-img-second" />
                                        <div>
                                            <small id="text-muted-second" class="text-muted" style="font-size: smaller;">2. Fotoğraf</small>
                                        </div>
                                    </div>
                                    <div>
                                        <img id="detail-product-img-third" />
                                        <div>
                                            <small id="text-muted-third" class="text-muted" style="font-size: smaller;">3. Fotoğraf</small>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td><strong>Ürün Adı  </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Ürün Açıklaması </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Ürün Rengi  </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Ürün Fiyatı  </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Ürün Stok Bilgisi  </strong></td>
                            <td></td>
                        </tr>
                        <tr id="product-capacity" style="display:none">
                            <td ><strong>Ürün Hacmi </strong></td>
                            <td></td>
                        </tr>
                        <tr id="product-measure" style="display:none;">
                            <td ><strong>Ölçüler </strong></td>
                            <td style="max-width:auto" ></td>
                            <td ></td>
                            <td ></td>
                        </tr>
                        <tr id="product-size" style="display:none">
                            <td><strong>Boyut</strong></td>
                            <td></td>
                        </tr>
                        <tr id="product-strap-length" style="display:none">
                            <td><strong>Askı Boyu </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Oluşturulma Tarihi  </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Güncellenme Tarihi </strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/detail-product.js"></script>

<style>
    #kt_modal_detail_product_form td {
        max-width: 350px; /* Hücrenin maksimum genişliği */
        word-wrap: break-word; /* Uzun içeriği otomatik olarak satıra sığdırır */
        padding: 5px; /* Yatay ve dikey iç boşluk */
        left: 15px;
    }

   
</style>




