@using JinjiProject.UI.Extensions
@inject IServiceProvider ServiceProvider
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item active">
				<a href="/Admin/Admin/AdminList">
					<i class="la la-dashboard"></i>
					<p>Admin Yönetimi</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Admin/Product/ProductList">
					<i class="la la-dashboard"></i>
					<p>Ürün Yönetimi</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Category/CategoryList">
					<i class="la la-table"></i>
					<p>Kategori Yönetimi</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Genre/GenreList">
					<i class="la la-table"></i>
					<p>Tür Yönetimi</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Brand/BrandList">
					<i class="la la-keyboard-o"></i>
					<p>Marka Yönetimi</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Material/MaterialList">
					<i class="la la-th"></i>
					<p>Malzeme Yönetimi</p>
					<span class="badge badge-count"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Home/Index">
					<i class="la la-bell"></i>
					<p>İstatistikler</p>
					<span class="badge badge-success"></span>
				</a>
			</li>
		</ul>
	</div>

</div>
