@{
	ViewData["Title"] = "_AdminFooterPartialView";
}

<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/Home/Index">
						Ana sayfa
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			© @DateTime.Now.Year Jinji Tüm hakları saklıdır.
		</div>
	</div>
</footer>

