@using JinjiProject.Dtos.Admins
@using JinjiProject.UI.Extensions
@inject IServiceProvider ServiceProvider
@{
    ViewData["Title"] = "_AdminNavbarPartialView";
}
@{
    GetAdminDto admin = await User.GetAdmin(ServiceProvider);
    var adminName = await User.GetUserName(ServiceProvider);
}
<div class="main-header">
    <div class="logo-header">
        <a href="/Home/Index" class="logo">
            ANASAYFAYA GİT
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="@admin.ImagePath" alt="user-img" width="36" class="img-circle"><span>@adminName</span> </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <div class="user-box">
                                @if (admin.ImagePath == null)
                                {
                                    <div class="u-img"><img src="https://www.nicepng.com/png/full/73-730154_open-default-profile-picture-png.png" alt="user"></div>
                                }
                                else
                                {
                                    <div class="u-img"><img src="@admin.ImagePath" alt="user"></div>

                                }
                                <div class="u-text">
                                    <h4>Admin</h4>
                                    <p class="text-muted">@admin.Email</p><a href="/Admin/Admin/UpdateAdmin/@admin.Id" class="btn btn-rounded btn-danger btn-sm">Profili Güncelle </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/Login/Logout"><i class="fa fa-power-off"></i> Çıkış</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
