
@{
    ViewData["Title"] = "AboutUs";
}

 <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Hakkımızda</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="/images/rt.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>Jinji HandMade Goods</h4>
                    <span>
                        JINJI iki kız kardeşin hobi olarak başlayıp meslek haline dönüştüğü bir girişimcilik hikayesi örneğidir. Kendi markamıza ait el emeği ürünlerin imalatı da tarafımıza aittir.
                    </span>
                        <div class="quote">
                        <i class="fa fa-quote-left"></i><p>
                            JINJI imalat, ihracat, toptan satış, mağaza satışı yanı sıra online platform ve sosyal medya üzerinden de faaliyetlerine devam etmektedir.

                            JINJI'nin ürün yelpazesinde yer alan el yapımı ürünler arasında; çantalar, cüzdanlar, kartlıklar, kemerler, evrak çantaları, makyaj çantaları, seyahat çantaları, ofis ve kişisel kullanım için çeşitli deri aksesuarlar bulunmaktadır.
                        </p>
                        </div>
                    <p>
                        Markamız, her zaman yenilikçi, dinamik, kendine has ve trendler doğrultusunda JINJI'nin kalitesini, rahatlığını, şıklığını yansıtan tasarımlar hazırlamaya devam etmektedir. JINJI, üretim kalitesi, zamanında teslimat ve satış sonrası destek ile marka olmak yolunda emin adımlarla ilerlemektedir.
                    </p>
                        <ul>
                        <li><a href="https://www.instagram.com/shopjinji/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.etsy.com/shop/ShopJINJI"><i class="fa fa-etsy"></i></a></li>
                        <li><a href="https://www.trendyol.com/magaza/shop-jinji-m-563522?sst=0">Trndyl</a></li>
                        <li><a href="https://miamano.com/jinji-handmade-goods">MM</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        runOwlCarousel();
    });
</script>