@using JinjiProject.Dtos.Subscribers
@{
    ViewData["Title"] = "Home Page";
}
<!-- ***** Main Banner Area Start ***** -->

<div id="homePage-genrelist">

</div>

<!-- ***** Main Banner Area End ***** -->
<!-- ***** Men Area Starts ***** -->
<div id="homePage-bag-list">

</div>
<!-- ***** Men Area Ends ***** -->
<!-- ***** Women Area Starts ***** -->
<!-- ***** Women Area Ends ***** -->
<!-- ***** Kids Area Starts ***** -->
<!-- ***** Kids Area Ends ***** -->
<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Ürünlerimizi Keşfedin</h2>
                    <span>Henüz yolun başında genç ve yenilikçi bir markayız.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>
                            Hepsi birbirinden güzel ve özel el emeği deri, suni deri, örgü ve özel kumaşlardan üretilmiş çanta, cüzdan kemer, şapka, aksesuarlar ve dekoratif ürünler üretmekteyiz.
                        </p>
                    </div>
                    <p>Nakış ve işlemeler ile süslenmiş farklı kumaşlar, resim baskı ile tasarlanmış modeller ve değişik ipliklerden üretilmiş farklı örbeklerle örülen çanta ve diğer ürünlerimizi keşfedin.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Çantalar</h4>
                                <span>Jinji HandMade Goods</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/images/kesfet1 (2).jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="~/images/kesfet2 (2).jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Birbirinden Farklı Ürünler</h4>
                                <span>50'den Fazla Ürün</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>En son çıkan çantalardan haberdan olmak için abone olun</h2>
                    <span>Detaylı olarak indirime giren ürünler mail olarak iletilir.</span>
                </div>
                <partial name="/Views/Home/_SubscriberFormPartialView.cshtml" model="new CreateSubscriberDto()" />
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Adres:<br><span>Mecidiyeköy Mah. Raşit Rıza Sok. Berkay Pasajı No:11 5/C Şişli İstanbul</span></li>
                            <li>Telefon:<br><span>+90 543 162 14 73</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Email:<br><span>destek@jinji.com</span></li>
                            <li>Sosyal Medya:<br><span><a href="https://www.instagram.com/shopjinji/">İnstagram</a>, <a href="https://www.trendyol.com/magaza/shop-jinji-m-563522?sst=0">Trendyol</a>, <a href="https://miamano.com/jinji-handmade-goods">Mia Mano</a>, <a href="https://www.etsy.com/shop/ShopJINJI">Etsy</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        triggerHomePagePartialView();
        homePageGenrePartialView();
    });
</script>