@{
    ViewData["Title"] = "UpdateMaterial";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model UpdateMaterialDto

<div class="col-md-8" style="margin-top:80px">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Malzeme Ekleme İşlemleri</div>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="card-body">
                <div class="form-group">
                    <label for="malzeme">Malzeme</label>
                    <input type="text" asp-for="Name" class="form-control" id="malzeme" placeholder="Malzeme Adı Giriniz...">
                    <span class="text-danger">@ViewData["NameError"]</span>
                </div>
                <div class="form-group">
                    <label for="malzeme">Açıklama</label>
                    <input type="text" asp-for="Description" class="form-control" id="malzeme" placeholder="Açıklamayı Giriniz...">
                    <span class="text-danger">@ViewData["DescriptionError"]</span>
                </div>
            </div>
            <div class="card-action" style="display:flex; ">
                <button type="submit" class="btn btn-success">Güncelle</button>
                <a class="btn btn-danger" href="/Admin/Material/MaterialList" style="margin-left:10px">Geri Dön</a>
            </div>
        </form>
    </div>
</div>