@model List<ListProductDto>


<form class="d-flex align-items-end" asp-controller="Subscriber" asp-action="SendMailToSubscribers" method="POST">
    <select asp-for="@Model" class="selectpicker" data-selected-text-format="count > 1" data-live-search="true"
            data-size="5" data-actions-box="true" title="Ürünleri Seçiniz..." multiple>
        @foreach (var product in Model)
        {
            <option value="@product">@product.Name</option>
        }
    </select>
    <button type="submit" style="min-width:99px;" title="Tüm indirimli ürünleri abonelere mail atar" class="btn btn-outline-success ml-2">İndirimli Ürünleri Mail At</button>
</form>