
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="detailsModalLabel">Kategoriye ait detaylar aşağıda yer almaktadır. </h6>
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">
                    X
                </button>

            </div>
            <div class="modal-body">
                <table id="kt_modal_details_category_form">
                    <tbody>
                        <tr>
                            <td><strong>Kategori Adı : </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Açıklama : </strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>
                <a type="button" href="/Admin/Category/HardDelete/" class="btn btn-outline-danger" id="modal-category-delete">Sil</a>
            </div>
        </div>
    </div>
</div>


<style>
    #kt_modal_details_category_form td {
        max-width: 350px;
        word-wrap: break-word;
        padding: 5px;
    }
</style>