
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model CreateCategoryDto

<div class="col-md-8" style="margin-top:80px">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Ürün Ekleme İşlemleri</div>
        </div>
        <form asp-area="Admin" asp-controller="Category" asp-action="CreateCategory" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Ürün Adı : </label>
                    <input name="name" type="text" asp-for="Name" class="form-control" id="productName" placeholder="Kategori Adı Giriniz...">
                    <span  class="text-danger">@ViewData["NameError"]</span>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="description">Kategori Açıklaması : </label>
                    <input name="description" type="text" asp-for="Description" class="form-control" id="kategori" placeholder="Açıklamayı Giriniz...">
                    <span  class="text-danger">@ViewData["DescriptionError"]</span>
                </div>
            </div>
            <div class="card-action" style="display:flex; ">
                <button type="submit" class="btn btn-success">Ekle</button>
                <a class="btn btn-danger" href="/Admin/Category/CategoryList" style="margin-left:10px">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
