@using JinjiProject.Core.Enums
@using JinjiProject.Dtos.Admins

@model CreateAdminDto
<style>
    /* Modal boyutunu ayarla */
    .modal-dialog {
        max-width: 800px; /* İstediğiniz genişliği ayarlayabilirsiniz */
    }

    /* Form yapısını düzenle */
    .modal-body {
        padding: 20px;
    }

    /* Form inputlarına stil ekle */
    .form-control {
        margin-bottom: 15px;
    }

    /* Radio butonlarını yan yana sırala */
    .form-radio-inline {
        display: inline-block;
        margin-right: 10px;
    }

    /* Radio butonlarını düzenle */
    .form-radio-input {
        position: relative;
        left: 0;
    }

    /* Radio buton label'larını düzenle */
    .form-radio-label {
        margin-left: 5px;
    }

</style>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Admin Ekle</h5>
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">
                    X
                </button>

            </div>
            <div class="modal-body">
                 <form asp-area="Admin" asp-controller="Admin" asp-action="CreateAdmin" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="marka">Ad</label>
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="Adınızı Giriniz...">
                            </div>
                           <div class="col-lg-6">
                                <label for="soyad">Soyad</label>
                                <input asp-for="LastName" type="text" class="form-control" id="soyad" placeholder="Soyadınızı Giriniz...">
                           </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label asp-for="BirthDate">Doğum Tarihi</label>
                                <input asp-for="BirthDate" type="date" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <label for="email">Email</label>
                                <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email Giriniz...">
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="foto">Fotoğraf</label>
                                <input asp-for="UploadPath" type="file" class="form-control" id="foto">
                            </div>
                            <div class="col-lg-6">
                                <div class="form-check">
                                    <label>Cinsiyet</label><br />
                                    <label class="form-radio-label">
                                        <input asp-for="Gender" class="form-radio-input" type="radio" name="optionsRadios" value="@Gender.Man">
                                        <span class="form-radio-sign">Erkek</span>
                                    </label>
                                    <label class="form-radio-label ml-3">
                                        <input asp-for="Gender" class="form-radio-input" type="radio" name="optionsRadios" value="@Gender.Woman">
                                        <span class="form-radio-sign">Kadın</span>
                                    </label>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    <div class="card-action row justify-content-end">
                        <button type="submit" class="btn btn-success" style="margin-right:10px">Ekle</button>
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>
                    </div>
                </form>               
            </div>
        </div>
    </div>
</div>
