@using JinjiProject.Core.Enums
@using JinjiProject.Dtos.Admins

@model CreateAdminDto
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Admin Ekle</h5>
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">
                    X
                </button>

            </div>
            <div class="modal-body">
                <form asp-area="Admin" asp-controller="Admin" asp-action="CreateAdmin" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="marka">Ad</label>
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="Adınızı Giriniz...">
                        </div>

                        <div class="form-group">
                            <label for="soyad">Soyad</label>
                            <input asp-for="LastName" type="text" class="form-control" id="soyad" placeholder="Soyadınızı Giriniz...">
                        </div>

                        <div class="form-group">
                            <label asp-for="BirthDate">Doğum Tarihi</label>
                            <input asp-for="BirthDate" type="date" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email Giriniz...">
                        </div>

                        <div class="form-group">
                            <label for="foto">Fotoğraf</label>
                            <input asp-for="UploadPath" type="file" class="form-control" id="foto">
                        </div>

                        <div class="form-group">
                                <label>Cinsiyet</label>
                            <div class=" form-group row ">
                                <div class="form-radio-inline">
                                    <input asp-for="Gender" type="radio" class="form-radio-input" id="erkek" name="gender" value="@Gender.Man" style="left: 0; position:relative;">
                                    <label class="form-radio-label" for="erkek">Erkek</label>
                                </div>
                                <div class="form-radio form-radio-inline">
                                    <input asp-for="Gender" type="radio" class="form-radio-input" id="kadin" name="gender" value="@Gender.Woman" style="left: 0; position:relative;">
                                    <label class="form-radio-label" for="kadin">Kadın</label>
                                </div>
                            </div>                         
                        </div>

                    </div>
                    <div class="card-action row justify-content-end">
                        <button type="submit" class="btn btn-success">Ekle</button>
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
