
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="first-item">
                    <div class="logo">
                        <img src="~/images/jinjiLogo.jpeg" style="width:100px;" alt="jinjiLogo">
                    </div>
                    <ul>
                        <li><a href="#">Mecidiyeköy Mah. Raşit Rıza Sok. Berkay Pasajı No:11 5/C Şişli İstanbul</a></li>
                        <li><a href="#">destek@jinji.com</a></li>
                        <li><a href="#">+90 543 162 14 73</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>Yararlı Bağlantılar</h4>
                <ul>
                    <li><a href="/Home/Index">Anasayfa</a></li>
                    <li><a href="/Home/AboutUs">Hakkımızda</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <ul>
                        <li><a href="https://www.trendyol.com/magaza/shop-jinji-m-563522?sst=0">Trendyol</a></li>
                        <li><a href="https://miamano.com/jinji-handmade-goods">Mia Mano</a></li>
                        <li><a href="https://www.etsy.com/shop/ShopJINJI">Etsy</a></li>
                        <li><a href="https://www.instagram.com/shopjinji/">İnstagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
