
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="first-item">
                    <div class="logo">
                        <img src="images/jinjiLogo.jpeg" style="width:100px;" alt="jinjiLogo">
                    </div>
                    <ul>
                        <li><a href="#">asdasdsa mah. 2222 sokak no:15 Gaziemir/İzmir</a></li>
                        <li><a href="#">deneme@jinji.com</a></li>
                        <li><a href="#">555-555-55-55</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Ürünler</h4>
                <ul>
                    <li><a href="#">Omuz Çantaları</a></li>
                    <li><a href="#">El Çantaları</a></li>
                    <li><a href="#">Abiye Çantalar</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Yararlı Bağlantılar</h4>
                <ul>
                    <li><a href="#top">Anasayfa</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">İletişim</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
