<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/Home/Index" class="logo">
                        <img src="~/images/jinjiLogo.jpeg" class="img-fluid" style="width:100px; height:75px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/home/index/#top" class="active">Anasayfa</a></li>
                        <li class="scroll-to-section"><a href="/home/index/#men">Omuz Çantaları</a></li>
                        <li class="scroll-to-section"><a href="/home/index/#women">El Çantaları</a></li>
                        <li class="scroll-to-section"><a href="/home/index/#kids">Abiye Çantalar</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Ürünler</a>
                            <ul id="categories">
                               
                            </ul>
                        </li>
                        <li><a href="/home/aboutus">Hakkımızda</a></li>
                        <li class="scroll-to-section"><a href="/home/index/#explore">Keşfet</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
